body {
  --theme-color-background: #141616;
  --theme-color-ninja: #292f33;
  --theme-color-normal: #66757f;
  --theme-color-highlight: #ffdc5d;
  margin: 0;
  background-color: var(--theme-color-background);
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}
